<div style="border:3px green solid;">用 border 修改全部邊框的顏色與樣式</div>
h1 {color:red;font-style:italic;}
h2 {color:blue;font-style:italic;}
h3 {color:green;font-style:italic;}
h4 {color:yellow;font-style:bold;}
h5 {color:blue;font-size:30px;}
