<style type="text/css">

h1{color:rgb(51,130,35);font-style:italic;font:size 60px;}
h2{color:rgb(51,130,35);font-style:italic;font:size 60px;}
</style>

.body{
margin:50px;
}

 .h2{
margin:10px;
}
  
